# NY Flight Prediction

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import bokeh as bkh
import matplotlib.pyplot as plt

In [2]:
NYF_data=pd.read_csv('Dataset/flight_data.csv')

In [3]:
NYF_data.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,01-01-2013 05:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,01-01-2013 05:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,01-01-2013 05:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,01-01-2013 05:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,01-01-2013 06:00

In [4]:
NYF_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 19 columns):
year              336776 non-null int64
month             336776 non-null int64
day               336776 non-null int64
dep_time          328521 non-null float64
sched_dep_time    336776 non-null int64
dep_delay         328521 non-null float64
arr_time          328063 non-null float64
sched_arr_time    336776 non-null int64
arr_delay         327346 non-null float64
carrier           336776 non-null object
flight            336776 non-null int64
tailnum           334264 non-null object
origin            336776 non-null object
dest              336776 non-null object
air_time          327346 non-null float64
distance          336776 non-null int64
hour              336776 non-null int64
minute            336776 non-null int64
time_hour         336776 non-null object
dtypes: float64(5), int64(9), object(5)
memory usage: 42.4+ MB

In [30]:
Dep_time=pd.pivot_table(NYF_data,values='dep_time',index=['origin'],columns=['carrier'],aggfunc=np.median)
Dep_time=round(Dep_time,0)
Dep_time

carrier,9E,AA,AS,B6,DL,EV,F9,FL,HA,MQ,OO,UA,US,VX,WN,YV
origin,,,,,,,,,,,,,,,,
EWR,1255.0,1425.0,1805.0,1314.0,1301.0,1400.0,NaN,NaN,NaN,1329.0,1534.0,1413.0,1032.0,1251.0,1300.0,NaN
JFK,1610.0,1456.0,NaN,1432.0,1552.0,1354.0,NaN,NaN,954.0,1525.0,NaN,1153.0,1025.0,1148.0,NaN,NaN
LGA,1432.0,1239.0,NaN,1328.0,1300.0,1439.0,1719.0,1418.0,NaN,1348.0,1759.0,1156.0,1257.0,NaN,1238.0,1636.0

In [31]:
Arr_time=pd.pivot_table(NYF_data,values='arr_time',index=['origin'],columns=['carrier'],aggfunc=np.median)
Arr_time=round(Arr_time,0)
Arr_time

carrier,9E,AA,AS,B6,DL,EV,F9,FL,HA,MQ,OO,UA,US,VX,WN,YV
origin,,,,,,,,,,,,,,,,
EWR,1457.0,1650.0,2043.0,1417.0,1515.0,1519.0,NaN,NaN,NaN,1442.0,1756.0,1607.0,1328.0,1434.0,1510.0,NaN
JFK,1801.0,1705.0,NaN,1429.0,1827.0,1502.0,NaN,NaN,1448.0,1734.0,NaN,1434.0,1240.0,1358.0,NaN,NaN
LGA,1607.0,1501.0,NaN,1411.0,1530.0,1602.0,1927.0,1612.0,NaN,1526.0,1945.0,1348.0,1441.0,NaN,1416.0,1800.0

In [7]:
NYF_data[NYF_data.dep_time.isnull()]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
838,2013,1,1,NaN,1630,NaN,NaN,1815,NaN,EV,4308,N18120,EWR,RDU,NaN,416,16,30,01-01-2013 16:00
839,2013,1,1,NaN,1935,NaN,NaN,2240,NaN,AA,791,N3EHAA,LGA,DFW,NaN,1389,19,35,01-01-2013 19:00
840,2013,1,1,NaN,1500,NaN,NaN,1825,NaN,AA,1925,N3EVAA,LGA,MIA,NaN,1096,15,0,01-01-2013 15:00
841,2013,1,1,NaN,600,NaN,NaN,901,NaN,B6,125,N618JB,JFK,FLL,NaN,1069,6,0,01-01-2013 06:00
1777,2013,1,2,NaN,1540,NaN,NaN,1747,NaN,EV,4352,N10575,EWR,CVG,NaN,569,15,40,02-01-2013 15:00
1778,2013,1,2,NaN,1620,NaN,NaN,1746,NaN,EV,4406,N13949,EWR,PIT,NaN,319,16,20,02-01-2013 16:00
1779,2013,1,2,NaN,1355,NaN,NaN,1459,NaN,EV,4434,N10575,EWR,MHT,NaN,209,13,55,02-01-2013 13:00
1780,2013,1,2,NaN,1420,NaN,NaN,1644,NaN,EV,4935,N759EV,EWR,ATL,NaN,746,14,20,02-01-2013 14:00
1781,2013,1,2,NaN,1321,NaN,NaN,1536,NaN,EV,3849,N13550,EWR,IND,NaN,645,13,21,02-01-2013 13:00
1782,2013,1,2,NaN,1545,NaN,NaN,1910,NaN,AA,133,NaN,JFK,LAX,NaN,2475,15,45,02-01-2013 15:00
1783,2013,1,2,NaN,1330,NaN,NaN,1640,NaN,AA,753,N3FBAA,LGA,DFW,NaN,1389,13,30,02-01-2013 13:00
1784,2013,1,2,NaN,1601,NaN,NaN,1735,NaN,UA,623,NaN,EWR,ORD,NaN,719,16,1,02-01-2013 16:00
2689,2013,1,3,NaN,645,NaN,NaN,757,NaN,EV,4241,N14972,EWR,DCA,NaN,199,6,45,03-01-2013 06:00
2690,2013,1,3,NaN,1030,NaN,NaN,1210,NaN,AA,321,N487AA,LGA,ORD,NaN,733,10,30,03-01-2013 10:00
2691,2013,1,3,NaN,1125,NaN,NaN,1305,NaN,AA,327,N3AMAA,LGA,ORD,NaN,733,11,25,03-01-2013 11:00
2692,2013,1,3,NaN,835,NaN,NaN,1150,NaN,AA,717,N3GXAA,LGA,DFW,NaN,1389,8,35,03-01-2013 08:00
2693,2013,1,3,NaN,920,NaN,NaN,1245,NaN,AA,721,N201AA,LGA,DFW,NaN,1389,9,20,03-01-2013 09:00
2694,2013,1,3,NaN,1020,NaN,NaN,1330,NaN,AA,731,N3FVAA,LGA,DFW,NaN,1389,10,20,03-01-2013 10:00
2695,2013,1,3,NaN,1220,NaN,NaN,1415,NaN,AA,1757,N573AA,LGA,STL,NaN,888,12,20,03-01-2013 12:00
2696,2013,1,3,NaN,630,NaN,NaN,830,NaN,MQ,4599,N500MQ,LGA,MSP,NaN,1020,6,30,03-01-2013 06:00
2697,2013,1,3,NaN,857,NaN,NaN,1209,NaN,UA,714,NaN,EWR,MIA,NaN,1085,8,57,03-01-2013 08:00
2698,2013,1,3,NaN,645,NaN,NaN,952,NaN,UA,719,NaN,EWR,DFW,NaN,1372,6,45,03-01-2013 06:00
3608,2013,1,4,NaN,845,NaN,NaN,1015,NaN,9E,3405,NaN,JFK,DCA,NaN,213,8,45,04-01-2013 08:00
3609,2013,1,4,NaN,1830,NaN,NaN,2044,NaN,9E,3716,NaN,EWR,DTW,NaN,488,18,30,04-01-2013 18:00
3610,2013,1,4,NaN,920,NaN,NaN,1245,NaN,AA,721,N541AA,LGA,DFW,NaN,1389,9,20,04-01-2013 09:00
3611,2013,1,4,NaN,1245,NaN,NaN,1550,NaN,AA,745,N3BGAA,LGA,DFW,NaN,1389,12,45,04-01-2013 12:00
3612,2013,1,4,NaN,1430,NaN,NaN,1735,NaN,AA,883,N200AA,EWR,DFW,NaN,1372,14,30,04-01-2013 14:00
3613,2013,1,4,NaN,1530,NaN,NaN,1725,NaN,AA,2223,N569AA,LGA,STL,NaN,888,15,30,04-01-2013 15:00
4331,2013,1,5,NaN,1400,NaN,NaN,1518,NaN,EV,5712,N827AS,JFK,IAD,NaN,228,14,0,05-01-2013 14:00
4332,2013,1,5,NaN,840,NaN,NaN,1001,NaN,9E,3422,NaN,JFK,BOS,NaN,187,8,40,05-01-2013 08:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331218,2013,9,24,NaN,1625,NaN,NaN,1750,NaN,MQ,3622,N524MQ,LGA,BNA,NaN,764,16,25,24-09-2013 16:00
332185,2013,9,25,NaN,1259,NaN,NaN,1507,NaN,EV,5207,N615QX,LGA,CLT,NaN,544,12,59,25-09-2013 12:00
332186,2013,9,25,NaN,845,NaN,NaN,1018,NaN,EV,5286,N615QX,LGA,BTV,NaN,258,8,45,25-09-2013 08:00
332187,2013,9,25,NaN,1755,NaN,NaN,1932,NaN,EV,5287,N722EV,LGA,MSN,NaN,812,17,55,25-09-2013 17:00
332188,2013,9,25,NaN,600,NaN,NaN,716,NaN,EV,5716,N877AS,JFK,IAD,NaN,228,6,0,25-09-2013 06:00
332189,2013,9,25,NaN,836,NaN,NaN,944,NaN,B6,2280,N258JB,EWR,BOS,NaN,200,8,36,25-09-2013 08:00
332190,2013,9,25,NaN,1300,NaN,NaN,1409,NaN,US,2148,NaN,LGA,BOS,NaN,184,13,0,25-09-2013 13:00
332191,2013,9,25,NaN,1900,NaN,NaN,2014,NaN,US,2160,NaN,LGA,BOS,NaN,184,19,0,25-09-2013 19:00
332192,2013,9,25,NaN,1300,NaN,NaN,1450,NaN,MQ,3388,N817MQ,LGA,CMH,NaN,479,13,0,25-09-2013 13:00
332193,2013,9,25,NaN,1655,NaN,NaN,1840,NaN,MQ,3411,N735MQ,LGA,RDU,NaN,431,16,55,25-09-2013 16:00
332194,2013,9,25,NaN,1559,NaN,NaN,1719,NaN,MQ,3748,N530MQ,EWR,ORD,NaN,719,15,59,25-09-2013 15:00
333188,2013,9,26,NaN,915,NaN,NaN,1141,NaN,EV,5109,N748EV,LGA,CHS,NaN,641,9,15,26-09-2013 09:00
333189,2013,9,26,NaN,1400,NaN,NaN,1512,NaN,US,2183,NaN,LGA,DCA,NaN,214,14,0,26-09-2013 14:00
333190,2013,9,26,NaN,1240,NaN,NaN,1525,NaN,WN,4720,N691WN,EWR,HOU,NaN,1411,12,40,26-09-2013 12:00
334183,2013,9,27,NaN,600,NaN,NaN,730,NaN,AA,301,N584AA,LGA,ORD,NaN,733,6,0,27-09-2013 06:00
334184,2013,9,27,NaN,2100,NaN,NaN,2211,NaN,US,2164,NaN,LGA,BOS,NaN,184,21,0,27-09-2013 21:00
334185,2013,9,27,NaN,1329,NaN,NaN,1444,NaN,MQ,3760,N505MQ,EWR,ORD,NaN,719,13,29,27-09-2013 13:00
334186,2013,9,27,NaN,1600,NaN,NaN,1739,NaN,UA,269,NaN,LGA,ORD,NaN,733,16,0,27-09-2013 16:00
334866,2013,9,28,NaN,1803,NaN,NaN,1927,NaN,EV,5563,N724EV,LGA,BTV,NaN,258,18,3,28-09-2013 18:00
334867,2013,9,28,NaN,910,NaN,NaN,1220,NaN,AA,1,N320AA,JFK,LAX,NaN,2475,9,10,28-09-2013 09:00
334868,2013,9,28,NaN,1635,NaN,NaN,1827,NaN,US,581,NaN,EWR,CLT,NaN,529,16,35,28-09-2013 16:00
335780,2013,9,29,NaN,2054,NaN,NaN,2302,NaN,EV,4536,N13988,EWR,CVG,NaN,569,20,54,29-09-2013 20:00
335781,2013,9,29,NaN,1830,NaN,NaN,2010,NaN,MQ,3134,N508MQ,EWR,ORD,NaN,719,18,30,29-09-2013 18:00
335782,2013,9,29,NaN,700,NaN,NaN,833,NaN,UA,331,NaN,LGA,ORD,NaN,733,7,0,29-09-2013 07:00
336770,2013,9,30,NaN,1842,NaN,NaN,2019,NaN,EV,5274,N740EV,LGA,BNA,NaN,764,18,42,30-09-2013 18:00
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,30-09-2013 14:00
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,30-09-2013 22:00
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,30-09-2013 12:00
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,30-09-2013 11:00
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,30-09-2013 08:00

In [8]:
NYF_data.loc[NYF_data['dep_time'].isnull(),'dep_time']=NYF_data.loc[NYF_data['dep_time'].isnull(),'sched_dep_time']

In [9]:
NYF_data[NYF_data.arr_time.isnull()]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
754,2013,1,1,2016.0,1930,46.0,NaN,2220,NaN,EV,4204,N14168,EWR,OKC,NaN,1325,19,30,01-01-2013 19:00
838,2013,1,1,1630.0,1630,NaN,NaN,1815,NaN,EV,4308,N18120,EWR,RDU,NaN,416,16,30,01-01-2013 16:00
839,2013,1,1,1935.0,1935,NaN,NaN,2240,NaN,AA,791,N3EHAA,LGA,DFW,NaN,1389,19,35,01-01-2013 19:00
840,2013,1,1,1500.0,1500,NaN,NaN,1825,NaN,AA,1925,N3EVAA,LGA,MIA,NaN,1096,15,0,01-01-2013 15:00
841,2013,1,1,600.0,600,NaN,NaN,901,NaN,B6,125,N618JB,JFK,FLL,NaN,1069,6,0,01-01-2013 06:00
1714,2013,1,2,2041.0,2045,-4.0,NaN,2359,NaN,B6,147,N630JB,JFK,RSW,NaN,1074,20,45,02-01-2013 20:00
1756,2013,1,2,2145.0,2129,16.0,NaN,33,NaN,UA,1299,N12221,EWR,RSW,NaN,1068,21,29,02-01-2013 21:00
1777,2013,1,2,1540.0,1540,NaN,NaN,1747,NaN,EV,4352,N10575,EWR,CVG,NaN,569,15,40,02-01-2013 15:00
1778,2013,1,2,1620.0,1620,NaN,NaN,1746,NaN,EV,4406,N13949,EWR,PIT,NaN,319,16,20,02-01-2013 16:00
1779,2013,1,2,1355.0,1355,NaN,NaN,1459,NaN,EV,4434,N10575,EWR,MHT,NaN,209,13,55,02-01-2013 13:00
1780,2013,1,2,1420.0,1420,NaN,NaN,1644,NaN,EV,4935,N759EV,EWR,ATL,NaN,746,14,20,02-01-2013 14:00
1781,2013,1,2,1321.0,1321,NaN,NaN,1536,NaN,EV,3849,N13550,EWR,IND,NaN,645,13,21,02-01-2013 13:00
1782,2013,1,2,1545.0,1545,NaN,NaN,1910,NaN,AA,133,NaN,JFK,LAX,NaN,2475,15,45,02-01-2013 15:00
1783,2013,1,2,1330.0,1330,NaN,NaN,1640,NaN,AA,753,N3FBAA,LGA,DFW,NaN,1389,13,30,02-01-2013 13:00
1784,2013,1,2,1601.0,1601,NaN,NaN,1735,NaN,UA,623,NaN,EWR,ORD,NaN,719,16,1,02-01-2013 16:00
2689,2013,1,3,645.0,645,NaN,NaN,757,NaN,EV,4241,N14972,EWR,DCA,NaN,199,6,45,03-01-2013 06:00
2690,2013,1,3,1030.0,1030,NaN,NaN,1210,NaN,AA,321,N487AA,LGA,ORD,NaN,733,10,30,03-01-2013 10:00
2691,2013,1,3,1125.0,1125,NaN,NaN,1305,NaN,AA,327,N3AMAA,LGA,ORD,NaN,733,11,25,03-01-2013 11:00
2692,2013,1,3,835.0,835,NaN,NaN,1150,NaN,AA,717,N3GXAA,LGA,DFW,NaN,1389,8,35,03-01-2013 08:00
2693,2013,1,3,920.0,920,NaN,NaN,1245,NaN,AA,721,N201AA,LGA,DFW,NaN,1389,9,20,03-01-2013 09:00
2694,2013,1,3,1020.0,1020,NaN,NaN,1330,NaN,AA,731,N3FVAA,LGA,DFW,NaN,1389,10,20,03-01-2013 10:00
2695,2013,1,3,1220.0,1220,NaN,NaN,1415,NaN,AA,1757,N573AA,LGA,STL,NaN,888,12,20,03-01-2013 12:00
2696,2013,1,3,630.0,630,NaN,NaN,830,NaN,MQ,4599,N500MQ,LGA,MSP,NaN,1020,6,30,03-01-2013 06:00
2697,2013,1,3,857.0,857,NaN,NaN,1209,NaN,UA,714,NaN,EWR,MIA,NaN,1085,8,57,03-01-2013 08:00
2698,2013,1,3,645.0,645,NaN,NaN,952,NaN,UA,719,NaN,EWR,DFW,NaN,1372,6,45,03-01-2013 06:00
3608,2013,1,4,845.0,845,NaN,NaN,1015,NaN,9E,3405,NaN,JFK,DCA,NaN,213,8,45,04-01-2013 08:00
3609,2013,1,4,1830.0,1830,NaN,NaN,2044,NaN,9E,3716,NaN,EWR,DTW,NaN,488,18,30,04-01-2013 18:00
3610,2013,1,4,920.0,920,NaN,NaN,1245,NaN,AA,721,N541AA,LGA,DFW,NaN,1389,9,20,04-01-2013 09:00
3611,2013,1,4,1245.0,1245,NaN,NaN,1550,NaN,AA,745,N3BGAA,LGA,DFW,NaN,1389,12,45,04-01-2013 12:00
3612,2013,1,4,1430.0,1430,NaN,NaN,1735,NaN,AA,883,N200AA,EWR,DFW,NaN,1372,14,30,04-01-2013 14:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332186,2013,9,25,845.0,845,NaN,NaN,1018,NaN,EV,5286,N615QX,LGA,BTV,NaN,258,8,45,25-09-2013 08:00
332187,2013,9,25,1755.0,1755,NaN,NaN,1932,NaN,EV,5287,N722EV,LGA,MSN,NaN,812,17,55,25-09-2013 17:00
332188,2013,9,25,600.0,600,NaN,NaN,716,NaN,EV,5716,N877AS,JFK,IAD,NaN,228,6,0,25-09-2013 06:00
332189,2013,9,25,836.0,836,NaN,NaN,944,NaN,B6,2280,N258JB,EWR,BOS,NaN,200,8,36,25-09-2013 08:00
332190,2013,9,25,1300.0,1300,NaN,NaN,1409,NaN,US,2148,NaN,LGA,BOS,NaN,184,13,0,25-09-2013 13:00
332191,2013,9,25,1900.0,1900,NaN,NaN,2014,NaN,US,2160,NaN,LGA,BOS,NaN,184,19,0,25-09-2013 19:00
332192,2013,9,25,1300.0,1300,NaN,NaN,1450,NaN,MQ,3388,N817MQ,LGA,CMH,NaN,479,13,0,25-09-2013 13:00
332193,2013,9,25,1655.0,1655,NaN,NaN,1840,NaN,MQ,3411,N735MQ,LGA,RDU,NaN,431,16,55,25-09-2013 16:00
332194,2013,9,25,1559.0,1559,NaN,NaN,1719,NaN,MQ,3748,N530MQ,EWR,ORD,NaN,719,15,59,25-09-2013 15:00
333188,2013,9,26,915.0,915,NaN,NaN,1141,NaN,EV,5109,N748EV,LGA,CHS,NaN,641,9,15,26-09-2013 09:00
333189,2013,9,26,1400.0,1400,NaN,NaN,1512,NaN,US,2183,NaN,LGA,DCA,NaN,214,14,0,26-09-2013 14:00
333190,2013,9,26,1240.0,1240,NaN,NaN,1525,NaN,WN,4720,N691WN,EWR,HOU,NaN,1411,12,40,26-09-2013 12:00
334177,2013,9,27,2253.0,1945,188.0,NaN,2146,NaN,EV,5306,N605QX,LGA,GSO,NaN,461,19,45,27-09-2013 19:00
334183,2013,9,27,600.0,600,NaN,NaN,730,NaN,AA,301,N584AA,LGA,ORD,NaN,733,6,0,27-09-2013 06:00
334184,2013,9,27,2100.0,2100,NaN,NaN,2211,NaN,US,2164,NaN,LGA,BOS,NaN,184,21,0,27-09-2013 21:00
334185,2013,9,27,1329.0,1329,NaN,NaN,1444,NaN,MQ,3760,N505MQ,EWR,ORD,NaN,719,13,29,27-09-2013 13:00
334186,2013,9,27,1600.0,1600,NaN,NaN,1739,NaN,UA,269,NaN,LGA,ORD,NaN,733,16,0,27-09-2013 16:00
334866,2013,9,28,1803.0,1803,NaN,NaN,1927,NaN,EV,5563,N724EV,LGA,BTV,NaN,258,18,3,28-09-2013 18:00
334867,2013,9,28,910.0,910,NaN,NaN,1220,NaN,AA,1,N320AA,JFK,LAX,NaN,2475,9,10,28-09-2013 09:00
334868,2013,9,28,1635.0,1635,NaN,NaN,1827,NaN,US,581,NaN,EWR,CLT,NaN,529,16,35,28-09-2013 16:00
335780,2013,9,29,2054.0,2054,NaN,NaN,2302,NaN,EV,4536,N13988,EWR,CVG,NaN,569,20,54,29-09-2013 20:00
335781,2013,9,29,1830.0,1830,NaN,NaN,2010,NaN,MQ,3134,N508MQ,EWR,ORD,NaN,719,18,30,29-09-2013 18:00
335782,2013,9,29,700.0,700,NaN,NaN,833,NaN,UA,331,NaN,LGA,ORD,NaN,733,7,0,29-09-2013 07:00
335805,2013,9,30,559.0,600,-1.0,NaN,715,NaN,WN,464,N411WN,EWR,MDW,NaN,711,6,0,30-09-2013 06:00
336770,2013,9,30,1842.0,1842,NaN,NaN,2019,NaN,EV,5274,N740EV,LGA,BNA,NaN,764,18,42,30-09-2013 18:00
336771,2013,9,30,1455.0,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,30-09-2013 14:00
336772,2013,9,30,2200.0,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,30-09-2013 22:00
336773,2013,9,30,1210.0,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,30-09-2013 12:00
336774,2013,9,30,1159.0,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,30-09-2013 11:00
336775,2013,9,30,840.0,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,30-09-2013 08:00

In [10]:
NYF_data.loc[NYF_data['arr_time'].isnull(),'arr_time']=NYF_data.loc[NYF_data['arr_time'].isnull(),'sched_arr_time']

In [11]:
NYF_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 19 columns):
year              336776 non-null int64
month             336776 non-null int64
day               336776 non-null int64
dep_time          336776 non-null float64
sched_dep_time    336776 non-null int64
dep_delay         328521 non-null float64
arr_time          336776 non-null float64
sched_arr_time    336776 non-null int64
arr_delay         327346 non-null float64
carrier           336776 non-null object
flight            336776 non-null int64
tailnum           334264 non-null object
origin            336776 non-null object
dest              336776 non-null object
air_time          327346 non-null float64
distance          336776 non-null int64
hour              336776 non-null int64
minute            336776 non-null int64
time_hour         336776 non-null object
dtypes: float64(5), int64(9), object(5)
memory usage: 42.4+ MB

In [12]:
NYF_data[NYF_data.dep_delay.isnull()]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
838,2013,1,1,1630.0,1630,NaN,1815.0,1815,NaN,EV,4308,N18120,EWR,RDU,NaN,416,16,30,01-01-2013 16:00
839,2013,1,1,1935.0,1935,NaN,2240.0,2240,NaN,AA,791,N3EHAA,LGA,DFW,NaN,1389,19,35,01-01-2013 19:00
840,2013,1,1,1500.0,1500,NaN,1825.0,1825,NaN,AA,1925,N3EVAA,LGA,MIA,NaN,1096,15,0,01-01-2013 15:00
841,2013,1,1,600.0,600,NaN,901.0,901,NaN,B6,125,N618JB,JFK,FLL,NaN,1069,6,0,01-01-2013 06:00
1777,2013,1,2,1540.0,1540,NaN,1747.0,1747,NaN,EV,4352,N10575,EWR,CVG,NaN,569,15,40,02-01-2013 15:00
1778,2013,1,2,1620.0,1620,NaN,1746.0,1746,NaN,EV,4406,N13949,EWR,PIT,NaN,319,16,20,02-01-2013 16:00
1779,2013,1,2,1355.0,1355,NaN,1459.0,1459,NaN,EV,4434,N10575,EWR,MHT,NaN,209,13,55,02-01-2013 13:00
1780,2013,1,2,1420.0,1420,NaN,1644.0,1644,NaN,EV,4935,N759EV,EWR,ATL,NaN,746,14,20,02-01-2013 14:00
1781,2013,1,2,1321.0,1321,NaN,1536.0,1536,NaN,EV,3849,N13550,EWR,IND,NaN,645,13,21,02-01-2013 13:00
1782,2013,1,2,1545.0,1545,NaN,1910.0,1910,NaN,AA,133,NaN,JFK,LAX,NaN,2475,15,45,02-01-2013 15:00
1783,2013,1,2,1330.0,1330,NaN,1640.0,1640,NaN,AA,753,N3FBAA,LGA,DFW,NaN,1389,13,30,02-01-2013 13:00
1784,2013,1,2,1601.0,1601,NaN,1735.0,1735,NaN,UA,623,NaN,EWR,ORD,NaN,719,16,1,02-01-2013 16:00
2689,2013,1,3,645.0,645,NaN,757.0,757,NaN,EV,4241,N14972,EWR,DCA,NaN,199,6,45,03-01-2013 06:00
2690,2013,1,3,1030.0,1030,NaN,1210.0,1210,NaN,AA,321,N487AA,LGA,ORD,NaN,733,10,30,03-01-2013 10:00
2691,2013,1,3,1125.0,1125,NaN,1305.0,1305,NaN,AA,327,N3AMAA,LGA,ORD,NaN,733,11,25,03-01-2013 11:00
2692,2013,1,3,835.0,835,NaN,1150.0,1150,NaN,AA,717,N3GXAA,LGA,DFW,NaN,1389,8,35,03-01-2013 08:00
2693,2013,1,3,920.0,920,NaN,1245.0,1245,NaN,AA,721,N201AA,LGA,DFW,NaN,1389,9,20,03-01-2013 09:00
2694,2013,1,3,1020.0,1020,NaN,1330.0,1330,NaN,AA,731,N3FVAA,LGA,DFW,NaN,1389,10,20,03-01-2013 10:00
2695,2013,1,3,1220.0,1220,NaN,1415.0,1415,NaN,AA,1757,N573AA,LGA,STL,NaN,888,12,20,03-01-2013 12:00
2696,2013,1,3,630.0,630,NaN,830.0,830,NaN,MQ,4599,N500MQ,LGA,MSP,NaN,1020,6,30,03-01-2013 06:00
2697,2013,1,3,857.0,857,NaN,1209.0,1209,NaN,UA,714,NaN,EWR,MIA,NaN,1085,8,57,03-01-2013 08:00
2698,2013,1,3,645.0,645,NaN,952.0,952,NaN,UA,719,NaN,EWR,DFW,NaN,1372,6,45,03-01-2013 06:00
3608,2013,1,4,845.0,845,NaN,1015.0,1015,NaN,9E,3405,NaN,JFK,DCA,NaN,213,8,45,04-01-2013 08:00
3609,2013,1,4,1830.0,1830,NaN,2044.0,2044,NaN,9E,3716,NaN,EWR,DTW,NaN,488,18,30,04-01-2013 18:00
3610,2013,1,4,920.0,920,NaN,1245.0,1245,NaN,AA,721,N541AA,LGA,DFW,NaN,1389,9,20,04-01-2013 09:00
3611,2013,1,4,1245.0,1245,NaN,1550.0,1550,NaN,AA,745,N3BGAA,LGA,DFW,NaN,1389,12,45,04-01-2013 12:00
3612,2013,1,4,1430.0,1430,NaN,1735.0,1735,NaN,AA,883,N200AA,EWR,DFW,NaN,1372,14,30,04-01-2013 14:00
3613,2013,1,4,1530.0,1530,NaN,1725.0,1725,NaN,AA,2223,N569AA,LGA,STL,NaN,888,15,30,04-01-2013 15:00
4331,2013,1,5,1400.0,1400,NaN,1518.0,1518,NaN,EV,5712,N827AS,JFK,IAD,NaN,228,14,0,05-01-2013 14:00
4332,2013,1,5,840.0,840,NaN,1001.0,1001,NaN,9E,3422,NaN,JFK,BOS,NaN,187,8,40,05-01-2013 08:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331218,2013,9,24,1625.0,1625,NaN,1750.0,1750,NaN,MQ,3622,N524MQ,LGA,BNA,NaN,764,16,25,24-09-2013 16:00
332185,2013,9,25,1259.0,1259,NaN,1507.0,1507,NaN,EV,5207,N615QX,LGA,CLT,NaN,544,12,59,25-09-2013 12:00
332186,2013,9,25,845.0,845,NaN,1018.0,1018,NaN,EV,5286,N615QX,LGA,BTV,NaN,258,8,45,25-09-2013 08:00
332187,2013,9,25,1755.0,1755,NaN,1932.0,1932,NaN,EV,5287,N722EV,LGA,MSN,NaN,812,17,55,25-09-2013 17:00
332188,2013,9,25,600.0,600,NaN,716.0,716,NaN,EV,5716,N877AS,JFK,IAD,NaN,228,6,0,25-09-2013 06:00
332189,2013,9,25,836.0,836,NaN,944.0,944,NaN,B6,2280,N258JB,EWR,BOS,NaN,200,8,36,25-09-2013 08:00
332190,2013,9,25,1300.0,1300,NaN,1409.0,1409,NaN,US,2148,NaN,LGA,BOS,NaN,184,13,0,25-09-2013 13:00
332191,2013,9,25,1900.0,1900,NaN,2014.0,2014,NaN,US,2160,NaN,LGA,BOS,NaN,184,19,0,25-09-2013 19:00
332192,2013,9,25,1300.0,1300,NaN,1450.0,1450,NaN,MQ,3388,N817MQ,LGA,CMH,NaN,479,13,0,25-09-2013 13:00
332193,2013,9,25,1655.0,1655,NaN,1840.0,1840,NaN,MQ,3411,N735MQ,LGA,RDU,NaN,431,16,55,25-09-2013 16:00
332194,2013,9,25,1559.0,1559,NaN,1719.0,1719,NaN,MQ,3748,N530MQ,EWR,ORD,NaN,719,15,59,25-09-2013 15:00
333188,2013,9,26,915.0,915,NaN,1141.0,1141,NaN,EV,5109,N748EV,LGA,CHS,NaN,641,9,15,26-09-2013 09:00
333189,2013,9,26,1400.0,1400,NaN,1512.0,1512,NaN,US,2183,NaN,LGA,DCA,NaN,214,14,0,26-09-2013 14:00
333190,2013,9,26,1240.0,1240,NaN,1525.0,1525,NaN,WN,4720,N691WN,EWR,HOU,NaN,1411,12,40,26-09-2013 12:00
334183,2013,9,27,600.0,600,NaN,730.0,730,NaN,AA,301,N584AA,LGA,ORD,NaN,733,6,0,27-09-2013 06:00
334184,2013,9,27,2100.0,2100,NaN,2211.0,2211,NaN,US,2164,NaN,LGA,BOS,NaN,184,21,0,27-09-2013 21:00
334185,2013,9,27,1329.0,1329,NaN,1444.0,1444,NaN,MQ,3760,N505MQ,EWR,ORD,NaN,719,13,29,27-09-2013 13:00
334186,2013,9,27,1600.0,1600,NaN,1739.0,1739,NaN,UA,269,NaN,LGA,ORD,NaN,733,16,0,27-09-2013 16:00
334866,2013,9,28,1803.0,1803,NaN,1927.0,1927,NaN,EV,5563,N724EV,LGA,BTV,NaN,258,18,3,28-09-2013 18:00
334867,2013,9,28,910.0,910,NaN,1220.0,1220,NaN,AA,1,N320AA,JFK,LAX,NaN,2475,9,10,28-09-2013 09:00
334868,2013,9,28,1635.0,1635,NaN,1827.0,1827,NaN,US,581,NaN,EWR,CLT,NaN,529,16,35,28-09-2013 16:00
335780,2013,9,29,2054.0,2054,NaN,2302.0,2302,NaN,EV,4536,N13988,EWR,CVG,NaN,569,20,54,29-09-2013 20:00
335781,2013,9,29,1830.0,1830,NaN,2010.0,2010,NaN,MQ,3134,N508MQ,EWR,ORD,NaN,719,18,30,29-09-2013 18:00
335782,2013,9,29,700.0,700,NaN,833.0,833,NaN,UA,331,NaN,LGA,ORD,NaN,733,7,0,29-09-2013 07:00
336770,2013,9,30,1842.0,1842,NaN,2019.0,2019,NaN,EV,5274,N740EV,LGA,BNA,NaN,764,18,42,30-09-2013 18:00
336771,2013,9,30,1455.0,1455,NaN,1634.0,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,30-09-2013 14:00
336772,2013,9,30,2200.0,2200,NaN,2312.0,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,30-09-2013 22:00
336773,2013,9,30,1210.0,1210,NaN,1330.0,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,30-09-2013 12:00
336774,2013,9,30,1159.0,1159,NaN,1344.0,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,30-09-2013 11:00
336775,2013,9,30,840.0,840,NaN,1020.0,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,30-09-2013 08:00

In [18]:
NYF_data.loc[NYF_data['dep_delay'].isnull(),'dep_delay']=0

In [19]:
NYF_data[NYF_data.arr_delay.isnull()]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
471,2013,1,1,1525.0,1530,-5.0,1934.0,1805,NaN,MQ,4525,N719MQ,LGA,XNA,NaN,1147,15,30,01-01-2013 15:00
477,2013,1,1,1528.0,1459,29.0,2002.0,1647,NaN,EV,3806,N17108,EWR,STL,NaN,872,14,59,01-01-2013 14:00
615,2013,1,1,1740.0,1745,-5.0,2158.0,2020,NaN,MQ,4413,N739MQ,LGA,XNA,NaN,1147,17,45,01-01-2013 17:00
643,2013,1,1,1807.0,1738,29.0,2251.0,2103,NaN,UA,1228,N31412,EWR,SAN,NaN,2425,17,38,01-01-2013 17:00
725,2013,1,1,1939.0,1840,59.0,29.0,2151,NaN,9E,3325,N905XJ,JFK,DFW,NaN,1391,18,40,01-01-2013 18:00
733,2013,1,1,1952.0,1930,22.0,2358.0,2207,NaN,EV,4333,N11194,EWR,TUL,NaN,1215,19,30,01-01-2013 19:00
754,2013,1,1,2016.0,1930,46.0,2220.0,2220,NaN,EV,4204,N14168,EWR,OKC,NaN,1325,19,30,01-01-2013 19:00
838,2013,1,1,1630.0,1630,0.0,1815.0,1815,NaN,EV,4308,N18120,EWR,RDU,NaN,416,16,30,01-01-2013 16:00
839,2013,1,1,1935.0,1935,0.0,2240.0,2240,NaN,AA,791,N3EHAA,LGA,DFW,NaN,1389,19,35,01-01-2013 19:00
840,2013,1,1,1500.0,1500,0.0,1825.0,1825,NaN,AA,1925,N3EVAA,LGA,MIA,NaN,1096,15,0,01-01-2013 15:00
841,2013,1,1,600.0,600,0.0,901.0,901,NaN,B6,125,N618JB,JFK,FLL,NaN,1069,6,0,01-01-2013 06:00
1071,2013,1,2,905.0,822,43.0,1313.0,1045,NaN,EV,4140,N15912,EWR,XNA,NaN,1131,8,22,02-01-2013 08:00
1180,2013,1,2,1125.0,925,120.0,1445.0,1146,NaN,9E,3658,N8783E,LGA,GRR,NaN,618,9,25,02-01-2013 09:00
1604,2013,1,2,1848.0,1840,8.0,2333.0,2151,NaN,9E,3325,N920XJ,JFK,DFW,NaN,1391,18,40,02-01-2013 18:00
1606,2013,1,2,1849.0,1724,85.0,2235.0,1938,NaN,EV,4321,N14998,EWR,MCI,NaN,1092,17,24,02-01-2013 17:00
1650,2013,1,2,1927.0,1930,-3.0,2359.0,2306,NaN,9E,3401,N908XJ,JFK,SAT,NaN,1587,19,30,02-01-2013 19:00
1714,2013,1,2,2041.0,2045,-4.0,2359.0,2359,NaN,B6,147,N630JB,JFK,RSW,NaN,1074,20,45,02-01-2013 20:00
1756,2013,1,2,2145.0,2129,16.0,33.0,33,NaN,UA,1299,N12221,EWR,RSW,NaN,1068,21,29,02-01-2013 21:00
1777,2013,1,2,1540.0,1540,0.0,1747.0,1747,NaN,EV,4352,N10575,EWR,CVG,NaN,569,15,40,02-01-2013 15:00
1778,2013,1,2,1620.0,1620,0.0,1746.0,1746,NaN,EV,4406,N13949,EWR,PIT,NaN,319,16,20,02-01-2013 16:00
1779,2013,1,2,1355.0,1355,0.0,1459.0,1459,NaN,EV,4434,N10575,EWR,MHT,NaN,209,13,55,02-01-2013 13:00
1780,2013,1,2,1420.0,1420,0.0,1644.0,1644,NaN,EV,4935,N759EV,EWR,ATL,NaN,746,14,20,02-01-2013 14:00
1781,2013,1,2,1321.0,1321,0.0,1536.0,1536,NaN,EV,3849,N13550,EWR,IND,NaN,645,13,21,02-01-2013 13:00
1782,2013,1,2,1545.0,1545,0.0,1910.0,1910,NaN,AA,133,NaN,JFK,LAX,NaN,2475,15,45,02-01-2013 15:00
1783,2013,1,2,1330.0,1330,0.0,1640.0,1640,NaN,AA,753,N3FBAA,LGA,DFW,NaN,1389,13,30,02-01-2013 13:00
1784,2013,1,2,1601.0,1601,0.0,1735.0,1735,NaN,UA,623,NaN,EWR,ORD,NaN,719,16,1,02-01-2013 16:00
2074,2013,1,3,1025.0,1032,-7.0,1521.0,1240,NaN,EV,4255,N34110,EWR,CHS,NaN,628,10,32,03-01-2013 10:00
2212,2013,1,3,1348.0,1350,-2.0,1821.0,1628,NaN,DL,1705,N324NB,LGA,MSY,NaN,1183,13,50,03-01-2013 13:00
2537,2013,1,3,1904.0,1659,125.0,2327.0,2046,NaN,9E,3375,N916XJ,JFK,SAT,NaN,1587,16,59,03-01-2013 16:00
2560,2013,1,3,1928.0,1928,0.0,19.0,2129,NaN,EV,4532,N14171,EWR,CHS,NaN,628,19,28,03-01-2013 19:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332193,2013,9,25,1655.0,1655,0.0,1840.0,1840,NaN,MQ,3411,N735MQ,LGA,RDU,NaN,431,16,55,25-09-2013 16:00
332194,2013,9,25,1559.0,1559,0.0,1719.0,1719,NaN,MQ,3748,N530MQ,EWR,ORD,NaN,719,15,59,25-09-2013 15:00
332671,2013,9,26,1331.0,1329,2.0,1923.0,1813,NaN,UA,15,N67052,EWR,HNL,NaN,4963,13,29,26-09-2013 13:00
333188,2013,9,26,915.0,915,0.0,1141.0,1141,NaN,EV,5109,N748EV,LGA,CHS,NaN,641,9,15,26-09-2013 09:00
333189,2013,9,26,1400.0,1400,0.0,1512.0,1512,NaN,US,2183,NaN,LGA,DCA,NaN,214,14,0,26-09-2013 14:00
333190,2013,9,26,1240.0,1240,0.0,1525.0,1525,NaN,WN,4720,N691WN,EWR,HOU,NaN,1411,12,40,26-09-2013 12:00
333666,2013,9,27,1332.0,1329,3.0,1629.0,1509,NaN,AA,331,N565AA,LGA,ORD,NaN,733,13,29,27-09-2013 13:00
334177,2013,9,27,2253.0,1945,188.0,2146.0,2146,NaN,EV,5306,N605QX,LGA,GSO,NaN,461,19,45,27-09-2013 19:00
334183,2013,9,27,600.0,600,0.0,730.0,730,NaN,AA,301,N584AA,LGA,ORD,NaN,733,6,0,27-09-2013 06:00
334184,2013,9,27,2100.0,2100,0.0,2211.0,2211,NaN,US,2164,NaN,LGA,BOS,NaN,184,21,0,27-09-2013 21:00
334185,2013,9,27,1329.0,1329,0.0,1444.0,1444,NaN,MQ,3760,N505MQ,EWR,ORD,NaN,719,13,29,27-09-2013 13:00
334186,2013,9,27,1600.0,1600,0.0,1739.0,1739,NaN,UA,269,NaN,LGA,ORD,NaN,733,16,0,27-09-2013 16:00
334197,2013,9,28,555.0,600,-5.0,953.0,753,NaN,EV,5068,N133EV,EWR,DTW,NaN,488,6,0,28-09-2013 06:00
334354,2013,9,28,847.0,839,8.0,1130.0,959,NaN,EV,4510,N14542,EWR,MKE,NaN,725,8,39,28-09-2013 08:00
334412,2013,9,28,1010.0,1020,-10.0,1344.0,1222,NaN,EV,4412,N12175,EWR,DSM,NaN,1017,10,20,28-09-2013 10:00
334495,2013,9,28,1214.0,1225,-11.0,1801.0,1510,NaN,AA,300,N488AA,EWR,DFW,NaN,1372,12,25,28-09-2013 12:00
334866,2013,9,28,1803.0,1803,0.0,1927.0,1927,NaN,EV,5563,N724EV,LGA,BTV,NaN,258,18,3,28-09-2013 18:00
334867,2013,9,28,910.0,910,0.0,1220.0,1220,NaN,AA,1,N320AA,JFK,LAX,NaN,2475,9,10,28-09-2013 09:00
334868,2013,9,28,1635.0,1635,0.0,1827.0,1827,NaN,US,581,NaN,EWR,CLT,NaN,529,16,35,28-09-2013 16:00
335534,2013,9,29,1734.0,1711,23.0,2159.0,2020,NaN,UA,327,N463UA,EWR,PDX,NaN,2434,17,11,29-09-2013 17:00
335780,2013,9,29,2054.0,2054,0.0,2302.0,2302,NaN,EV,4536,N13988,EWR,CVG,NaN,569,20,54,29-09-2013 20:00
335781,2013,9,29,1830.0,1830,0.0,2010.0,2010,NaN,MQ,3134,N508MQ,EWR,ORD,NaN,719,18,30,29-09-2013 18:00
335782,2013,9,29,700.0,700,0.0,833.0,833,NaN,UA,331,NaN,LGA,ORD,NaN,733,7,0,29-09-2013 07:00
335805,2013,9,30,559.0,600,-1.0,715.0,715,NaN,WN,464,N411WN,EWR,MDW,NaN,711,6,0,30-09-2013 06:00
336770,2013,9,30,1842.0,1842,0.0,2019.0,2019,NaN,EV,5274,N740EV,LGA,BNA,NaN,764,18,42,30-09-2013 18:00
336771,2013,9,30,1455.0,1455,0.0,1634.0,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,30-09-2013 14:00
336772,2013,9,30,2200.0,2200,0.0,2312.0,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,30-09-2013 22:00
336773,2013,9,30,1210.0,1210,0.0,1330.0,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,30-09-2013 12:00
336774,2013,9,30,1159.0,1159,0.0,1344.0,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,30-09-2013 11:00
336775,2013,9,30,840.0,840,0.0,1020.0,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,30-09-2013 08:00

In [29]:
NYF_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 19 columns):
year              336776 non-null int64
month             336776 non-null int64
day               336776 non-null int64
dep_time          336776 non-null int64
sched_dep_time    336776 non-null int64
dep_delay         336776 non-null int64
arr_time          336776 non-null int64
sched_arr_time    336776 non-null int64
arr_delay         327346 non-null float64
carrier           336776 non-null object
flight            336776 non-null int64
tailnum           334264 non-null object
origin            336776 non-null object
dest              336776 non-null object
air_time          327346 non-null float64
distance          336776 non-null int64
hour              336776 non-null int64
minute            336776 non-null int64
time_hour         336776 non-null object
dtypes: float64(2), int64(12), object(5)
memory usage: 42.4+ MB

In [ ]:
NYF_data.info()

In [ ]:
NYF_data[NYF_data.sched_arr_time==NYF_data.arr_time][NYF_data.arr_delay.isnull()]

In [ ]:
NYF_data['arr_delay']=NYF_data.arr_time - NYF_data.sched_arr_time

In [ ]:
NYF_data=NYF_data.drop('tailnum',axis=1)

In [ ]:
NYF_data[NYF_data.air_time.isnull()]

In [ ]:
NYF_data.dep_time=NYF_data.dep_time.astype(np.int64)
NYF_data.dep_delay=NYF_data.dep_delay.astype(np.int64)
NYF_data.arr_time=NYF_data.arr_time.astype(np.int64)
NYF_data.arr_delay=NYF_data.arr_delay.astype(np.int64)

In [ ]:
NYF_data

In [ ]:
NYF_data.info()